/* Especifidad: 001*/
header {
  background-color: #1E3638;
  color: #ffffff;
}

/* Especifidad: 001*/
nav {
  background-color: #63B2B8;
  color: #000A0A;
}

/* Especifidad: 003*/
nav li a {
  color: #000A0A;
  background-color: #63B2B8;
  text-decoration: none;
  font-weight: bold;
}

/* Especifidad: 013*/
nav li a:hover {
  color: #63B2B8;
  background-color: #1E3638;
}

/* Especifidad: 001*/
main {
  background-color: #f2f2f2;
  color: #333333;
}

/* Especifidad: 002*/
main h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  background-color: #63B2B8;
  color: #000A0A;
}

/* Especifidad: 001*/
footer {
  background-color: #1E3638;
  color: #B0CFD1;
  text-align: center;
}

/* Especifidad: 002*/
footer a {
  color: #B0CFD1;
  background-color: #1E3638;
}

/* Especifidad: 001*/
th,
td {
  text-align: left;
  border-bottom: 1px solid #B0CFD1;
}

/* Especifidad: 001*/
th {
  background-color: #B0CFD1;
  color: #000A0A;
}

/* Especifidad: 001*/
caption {
  font-weight: bold;
}

/* Especifidad: 011*/
tr:hover {
  background-color: white;
  color: #000A0A;
}

/* Especifidad: 001*/
dt {
  font-weight: bold;
}

/* Especifidad: 002*/
figure figcaption {
  background-color: #B0CFD1;
  color: #000A0A;
  text-align: center;
}

/* Especifidad: 001*/
video {
  border: 10px solid #B0CFD1;
}

/* Especifidad: 001*/
audio {
  border: 10px solid #B0CFD1;
}