/* Especifidad: 001*/
body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
}

/* Especifidad: 001*/
header,
footer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto 1fr;
}

/* Especifidad: 002*/
header h1,
footer address {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

/* Especifidad: 001*/
nav {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto 1fr;
  margin: 0;
  padding: 0;
}

/* Especifidad: 003*/
nav ul li {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto 1fr;
}

/* Especifidad: 004*/
nav ul li a {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

/* Especifidad: 002*/
nav h2 {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  margin: 0;
  padding: 0;
}

/* Especifidad: 002*/
nav ul {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 2;

  list-style: none;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 1fr);
}

/* Especifidad: 001*/
main {
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 3;
  padding-left: 1%;
}

/* Especifidad: 001*/
figure {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto auto auto 1fr;
}

/* Especifidad: 002*/
figure img {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  max-width: 100%;
}

/* Especifidad: 002*/
figure figcaption {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

/* Especifidad: 001*/
fieldset {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: auto 1fr;
}