/* Especifidad: 001*/
header {
  display: block;
  text-align: center;
  padding: 1em;
}

/* Especifidad: 001*/
nav {
  display: block;
  padding: 1em;
}

/* Especifidad: 002*/
nav h2 {
  margin-bottom: 0.5em;
}

/* Especifidad: 002*/
nav ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}

/* Especifidad: 002*/
nav li {
  margin-bottom: 0.5em;
}

/* Especifidad: 001*/
main {
  display: block;
  padding: 1em;
}

/* Especifidad: 002*/
main h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

/* Especifidad: 002*/
main h3 {
  margin-top: 1.5em;
  margin-bottom: 0.25em;
}

/* Especifidad: 001*/
section {
  display: block;
}
/* Especifidad: 002*/
section p {
  display: block;
}

/* Especifidad: 001*/
footer {
  display: block;
  padding: 2.5%;
}

/* Especifidad: 001*/
table {
  border-collapse: collapse;
  width: 100%;
}

/* Especifidad: 001*/
th,
td {
  padding: 1.5%;
}

/* Especifidad: 001*/
caption {
  font-size: 1.25em;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

/* Especifidad: 001*/
dl {
  margin: 0%;
  padding: 0%;
}

/* Especifidad: 001*/
dt {
  margin-top: 1em;
}

/* Especifidad: 001*/
dd {
  margin-left: 0;
  margin-bottom: 1.5em;
}

/* Especifidad: 001*/
ul {
  margin-top: 0.25em;
}

/* Especifidad: 001*/
figure {
  margin: 5%;
  max-width: 50%;
}


/* Especifidad: 002*/
figure img {
  width: 100%;
  height: auto;
}

/* Especifidad: 001*/
video {
  max-width: 50%;
  width: 50%;
  height: auto;
  margin: 5%;
  padding: 1%;
}

/* Especifidad: 001*/
audio {
  margin: 5%;
  padding: 1%;
  width: 50%;
  max-width: 50%;
}

/* Especifidad: 001*/
fieldset {
  margin-bottom: 5%;
  padding: 2%;
}